body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-image {
    width: 100vw;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1597537593193-a79263045e14?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2338&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    padding: 100px;
}

h1 {
    font-size: 50px;
    opacity: 70%;
}

p {
    opacity: 75%;
}


@media (max-width:500px) {
    .container {
        padding: 10px;
    }
}